__pycache__/
.env
.venv/
.tools/
node_modules/
1x/
*.ai
*.csv
*.xlsx
*.xls
build/
dist/
modern-ui/dist/
modern-ui/src-tauri/target/
AppDir/
backups/
*.AppImage
*.spec
dados/**
!dados/imagens/
!dados/imagens/**
